*.Rproj
.Rproj.user
.vscode/*
.Rhistory
.DS_Store

src/*.o
src/*.so
src/Makevars
BayesSurvive/src/*.o
BayesSurvive/src/*.so
BayesSurvive/src/*.dll
BayesSurvive/src/symbols.rds
BayesSurvive/src/Makevars
BayesSurvive/BayesSurvive.Rcheck/*
BayesSurvive.Rcheck/*
*.gcno

BayesSurvive/autom4te.cache
BayesSurvive/build
BayesSurvive/hyperpar.xml

*.tar.gz
*.log
*.status
