*.Rproj
.Rproj.user
.vscode/*
.Rhistory
.DS_Store

BVS_Reg
BayesSurv/src/*.o
BayesSurv/src/*.so
BayesSurv/src/*.dll
BayesSurv/src/symbols.rds
BayesSurv/src/Makevars
BayesSurv/BayesSurv.Rcheck/*
BayesSurv.Rcheck/*

BayesSurv/autom4te.cache
BayesSurv/build
BayesSurv/hyperpar.xml

*.tar.gz
*.log
*.status